[submodule "OEFCoreProtocol"]
	path = OEFCoreProtocol
	url = git@github.com:uvue-git/OEFCoreProtocol.git
	branch = master

[submodule "OEFCore"]
	path = OEFCore
	url = git@github.com:uvue-git/OEFCore.git
